.hero-section {
    display: flex;
    justify-content: center;
    min-height: 60vh;
}
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.hero-content {
}
.hero-heading h1 {
    max-width: 10ch;
    line-height: 100px;
}
.hero-description {
    max-width: 50ch;
}
.hero-social-icon svg {
    width: 1rem;
    height: 1rem;
}